/** POLICES DE TEXTE **/

@font-face {
	font-family: 'EightOne';
    src: url("../Polices/Titre/Eight One.ttf");
}

@font-face {
	font-family: 'Roboto';
    src: url("../Polices/Paragraphe/Roboto-Light.ttf");
}

@font-face {
	font-family: 'RobotoThin';
    src: url("../Polices/Paragraphe/Roboto-Thin.ttf");
}

/*###################*/


/*ANIMATION*/

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**#################**/


/**FLASH PHOTO**/

#flashemulate{
	position:fixed;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 0%;
	z-index: 99;
	background: white;
	opacity: 0;
	transition: opacity 0.15s;
}

/*##################*/


/**ARRIERE PLAN**/

body{
	background-color: #3a3a3a;
	overflow-y:scroll;
}

#return-top{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	background-color: #828282;
	color: white;
	cursor: pointer;
	padding: 16px;
	padding-top: 8px;
	border-radius: 10px;
	font-size: 200%;
	opacity: 0.8;
}

#return-top:hover {
  background-color: #555;
}

#gogpu{
	display:none;
}

.firstgpu{
display:none;
}

.secondgpu{
display:none;
}

/**###########**/


/**RECTANGLE HORIZONTAL TOP**/

.rectangle_h{
	background-color: #232323;
	box-shadow: 0px 10px 50px #005dff;
	position:fixed;
	height: 100%;
	width: 100px;
	z-index: 2;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pseudo{
	display: none;
}

#logoblanc{
	position: absolute;
	left: 18px;
	top: 10px;
}

button{
	background: linear-gradient( #c534ff, #005dff );
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1);
	transition: 0.3s;
}

#b_index, #b_telechargements, #b_contact{
	display: none;
}

button:hover{
	transform: scale(1.1);
	transition: 0.3s;
	box-shadow: 0px 5px 50px #000000;
}

#img_index, #img_telechargements, #img_contact{
	position: absolute;
	left: 23px;
	top: 32%;
	cursor: pointer;
}

#img_telechargements{
	top: 45%;
}

#img_contact{
	top: 58%;
}

#ChangerStyleCSS{
	position:absolute;
	left: 30px;
	bottom: 40px;
	font-size: 20px;
	cursor: pointer;
}

.blockbutton{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 25px;
}

/**################################**/



/**BLOC MILIEU DE PAGE a=index t=TELECHARGEMENT c=CONTACT**/

.blocmid{
	background-color: #232323;
	box-shadow: 0px 100px 200px #000000;
	position:absolute;
	min-height:100%;
	width: 80%;
	left: calc(10% + 50px);
	top:0px;
}

.c_blocmid h1{
	margin-top: 140px;
	font-size: 250%;
}

.a_blocpos{
	height: 70%;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.t_blocpos{
	height: auto;
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
	display: table;
}

.t_blocpos div{
	width: 33.33%;
	height: 249.2px;
	float: left;
	display: inline-block;
	margin-bottom: 30px;
}

.t_blocpos img{
	display: table;
	margin: 0 auto;
	cursor: pointer;
}

.c_blocpos{
	height: 800px;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
}

.c_blocpos div{
	width: 155px;
	height: 249.2px;
	margin-left: 62px;
	margin-right: 62px;
	margin-bottom: 25px;
	float: left;
}

/*###########################*/


/*$$$$$$$$$$$$$$$$$$$$ PAGE index $$$$$$$$$$$$$$$$$$$$*/

	/**IDENTITE**/

.identite{
	background: #005dff;
	border-top-left-radius:15px;
	border-top-right-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	border-bottom: none;
	padding-left:15px;
	padding-top: 5px;
}

.in-identite{
	background-color: #3a3a3a;
	box-shadow: 0px 0px 100px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	border-top: none;
	padding: 2%;
	margin-bottom: 35px;
	min-height: 150px;
}

		/**PHOTO**/
#moi{
	position:relative;
	border-width:1px;
	border-style: solid;
	border-color: #005dff;
	border-radius:15px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

#txtid{
	vertical-align: top;
	text-align: justify;
}

	/**########################**/


	/**ÉQUIPE**/

.equipe{
	background: #005dff;
	border-top-left-radius:15px;
	border-top-right-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	border-bottom: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:15px;
}

.in-equipe{
	background-color: #3a3a3a;
	box-shadow: 0px 0px 100px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	border-top: none;
	padding: 2%;
	margin-bottom: 35px;
	text-align: justify;
}

	/*########################*/


	/**PROJET**/

.projet{
	background: #005dff; /* #0062ba */
	border-top-left-radius:15px;
	border-top-right-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	border-bottom: none;
	padding-left:15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.in-projet{
	background-color: #3a3a3a;
	box-shadow: 0px 0px 100px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #005dff;
	padding: 2%;
	border-top: none;
	text-align: justify;
	margin-bottom: 60px
}

.a_blocpos a{
	font-family: RobotoThin;
	color: #0087ff;
	font-size: 150%;
	margin:0px;
	margin-right: 20px;
}

	/*##########################*/

/*#########################*/

/*$$$$$$$$$$$$$$$$$$$$ FIN PAGE index $$$$$$$$$$$$$$$$$$$$*/


/*$$$$$$$$$$$$$$$$$$$$ PAGE CONTACT $$$$$$$$$$$$$$$$$$$$*/

#mail{
	display: table;
	width: 250px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
	font-size: 200%;
}

/*$$$$$$$$$$$$$$$$$$$$ FIN PAGE CONTACT $$$$$$$$$$$$$$$$$$$$*/

p{
	color: white;
	font-family: RobotoThin;
	font-size: 150%;
	margin:0px;
}

h1{
	color: white;
	font-family: RobotoThin;
	font-size: 115%;
	margin:0px;
	text-align: center;
}

.a_blocpos h1{
	color: white;
	font-family: RobotoThin;
	font-size: 200%;
	margin:0px;
	text-align: left;
}
